<header class="flex flex-wrap sm:justify-start sm:flex-nowrap w-full bg-white text-sm py-4">
  <nav class="max-w-[85rem] w-full mx-auto px-4 flex flex-wrap basis-full items-center justify-between" aria-label="Global">
    <div class="flex justify-center items-center gap-9">

      <a class="flex-none text-xl font-semibold dark:text-white" href="#">
        <img src="../../../../assets/my_unsplash_logo.svg" alt="logo image">
      </a>

      <div class="max-w-sm space-y-3">
        <input type="text" class="py-3 px-4 block w-52 border border-gray-200 rounded-lg text-xs disabled:opacity-50 disabled:pointer-events-none text-neutral-400" placeholder="Search by name">
      </div>
    </div>


    <div class="sm:order-3 flex items-center gap-x-2">

      <button type="button" class="py-2 px-3 max-w-28 min-w-28 h-12 inline-flex items-center text-white gap-x-2 text-sm font-medium rounded-xl border border-gray-200 bg-green-500 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none  dark:border-btn-green dark:hover:bg-green-600">
        Add a Photo
      </button>
    </div>

  </nav>
</header>
