

<div class="columns-3 p-4">
 <a href="#"><img
    class="w-full aspect-video rounded-xl"
    src="../../../assets/images/anastasia-judt-S5kAQY2F0LE-unsplash.jpg" alt=""></a>
 <a href="#"><img
    class="w-full aspect-square my-3 rounded-xl"
    src="../../../assets/images/andre-portolesi-LjAcS9lJdBg-unsplash.jpg" alt=""></a>
 <a href="#"><img
    class="w-full aspect-video my-3 rounded-xl"
    src="../../../assets/images/boliviainteligente-frbBBb2l2SI-unsplash.jpg" alt="">
  </a>

  <a href="#"><img class=" w-full aspect-square my-3 rounded-xl" src="../../../assets/images/joseph-prospere-Hr4x10oTpwg-unsplash.jpg" alt=""></a>

  <a href="#"><img class="w-full aspect-auto my-3 rounded-xl" src="../../../assets/images/luke-miller-wZ-9d29Fweo-unsplash.jpg" alt=""></a>

  <!-- <a href="#"><img class="w-full aspect-auto my-3 rounded-xl" src="../../../assets/images/matthieu-marseille-tc7dk_1uO0U-unsplash.jpg" alt=""></a>

  <a href="#"><img class="w-full aspect-square my-3 rounded-xl" src="../../../assets/images/maeva-vigier-aGYnZK8v8KQ-unsplash.jpg" alt=""></a>
  <a href="#"><img class="w-full aspect-video my-3 rounded-xl" src="../../../assets/images/md-shafiqul-alam-anFkDoW614I-unsplash.jpg" alt=""></a>
  <a href="#"><img class="w-full aspect-video my-3 rounded-xl" src="../../../assets/images/micke-lindstrom-4nxT4MxaKZU-unsplash.jpg" alt=""></a>
  <a href="#"><img class="w-full aspect-square my-3 rounded-xl" src="../../../assets/images/museum-of-new-zealand-te-papa-tongarewa-L5-0okWspqM-unsplash.jpg" alt=""></a>
  <a href="#"><img class="w-full aspect-video my-3 rounded-xl" src="../../../assets/images/rebecca-muller-SuRy-HZqNWI-unsplash.jpg" alt=""></a>
  <a href="#"><img class="w-full aspect-auto my-3 rounded-xl" src="../../../assets/images/sander-traa-30W8BXE4xl4-unsplash.jpg" alt=""></a>
  <a href="#"><img class="w-full aspect-square my-3 rounded-xl" src="../../../assets/images/sander-traa-yodFAdBnyDk-unsplash.jpg" alt=""></a>
  <a href="#"><img class="w-full aspect-square my-3 rounded-xl" src="../../../assets/images/tomas-malik-qvs4xmQ_zkU-unsplash.jpg" alt=""></a>
  <a href="#"><img class="w-full aspect-video my-3 rounded-xl" src="../../../assets/images/valentin-lacoste-AxmWrPy2XwQ-unsplash.jpg" alt=""></a> -->

</div>
